// @media screen and (min-width: 700px) {
  .menuToggler {
    z-index: 2000;
    position: fixed;
    // left: 5rem;
    right: 1rem;
    // top: 5rem;
    top: 3rem;
    width: 5rem;
    height: 5rem;

    &:hover {
      .line:first-child:not(.rotated),
      .line:last-child:not(.rotated) {
        left: .3rem;
      }
      .line:nth-child(2):not(.rotated) {
        left: -.3rem;
      }
    }
  }

  .line {
    position: absolute;
    width: 2rem;
    height: 1.5px;
    margin-bottom: .5rem;
    background-color: white;
    transition:
      transform 300ms ease-in,
      display 200ms ease-in-out,
      top 200ms ease-in-out,
      left 200ms ease-in-out;

      &:first-child {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: .5rem;
        left: 0;
      }

      &:last-child {
        top: 1rem;
        left: 0;
      }
  }

  .rotated {

    &:first-child {
      top: 0.1rem;
      left: 0;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      top: 0.1rem;
      left: 0;
      transform: rotate(315deg);
    }

    &:last-child {
      display: none;
    }
  }
// }

@media screen and (max-width: 700px) {
  .menuToggler {
    z-index: 2;
    position: fixed;
    right: -2rem;
    top: 2rem;
    width: 5rem;
    height: 5rem;

    &:hover {
      .line:first-child:not(.rotated),
      .line:last-child:not(.rotated) {
        left: .3rem;
      }
      .line:nth-child(2):not(.rotated) {
        left: -.3rem;
      }
    }
  }

  .line {
    position: absolute;
    width: 2rem;
    height: 1.5px;
    margin-bottom: .5rem;
    background-color: white;
    transition:
      transform 300ms ease-in,
      display 200ms ease-in-out,
      top 200ms ease-in-out,
      left 200ms ease-in-out;

      &:first-child {
        top: 0;
        left: 0;
      }

      &:nth-child(2) {
        top: .5rem;
        left: 0;
      }

      &:last-child {
        top: 1rem;
        left: 0;
      }
  }

  .rotated {

    &:first-child {
      top: 0.1rem;
      left: 0;
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      top: 0.1rem;
      left: 0;
      transform: rotate(315deg);
    }

    &:last-child {
      display: none;
    }
  }
}