.projectWrapper {
  width: 100%;
  min-height: 100vh;
}

.left {
  width: 50%;
  justify-content: space-between;
  padding: 1rem 0;

  .projectImg {
    margin-bottom: 3rem;
  }

  .project-title-mob, .project-cover, .project-description {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .left {
    width: 100%;

   .project-title-mob, .project-cover, .project-description, .projectImg {
      display: block;
      width: 100%;
      margin-bottom: 3rem;
    }

    // .project-cover {

    // }

    // .project-title-mob {
    //   display: block;
    //   margin-bottom: 3rem;
    // }

    p {
      font-size: 1rem;
      line-height: 1.4;
    }
  }
}