.transition {
  position: fixed;
  top: 0;
  right: 30%;
  height: 100vh;
  // justify-content: space-around;
  background: black;
  // color: white;
  padding: 5rem 4rem 0;
  // padding: 10% 2rem 0;
  // animation: pageTransition 1.5s cubic-bezier(.56,.22,.32,.99) forwards;
  // animation: pageTransition 2s cubic-bezier(.53,0,.32,.99) forwards;
  // BEST SO FAR
  animation: pageTransition 2.5s cubic-bezier(.97,.01,.64,1) forwards;
  // animation: pageTransition 2.5s cubic-bezier(.78,.01,.17,.78) forwards;
  transition:
    transform 300ms ease-in-out,
    right 300ms ease-in-out,
    width 300ms ease-in-out
    color 300ms ease-in-out,;

  .transitionTitle {
    margin-bottom: 2rem;
  }

  .transitionText {
    line-height: 2;
  }

  // &:before {
  //   content: '';
  //   position: fixed;
  //   top: 5rem;
  //   left: -3%;
  //   width: 40px;
  //   height: 40px;
  //   border-radius: 50%;
  //   background: white;
  //   transform: rotate(45deg);
  //   -webkit-box-shadow: inset 1px -1px 0px 0px #000000;
  //   box-shadow: inset 1px -1px 0px 0px #000000;
  // }
}