.transition {
  position: fixed;
  top: 0;
  height: 100vh;
  background: black;
}

.vertical {
  width: 100%;
  left: 0;
  z-index: 5000;
  // animation: vertical-In 2s cubic-bezier(.92,0,.42,.67) forwards;
  transition: transform 300ms ease-in-out;
}

.lateral {
  right: 30%;
  padding: 5rem 4rem 0;
  transition:
    transform 300ms ease-in-out,
    right 300ms ease-in-out,
    width 300ms ease-in-out
    color 300ms ease-in-out,;

  .leaving {
    animation: lateral-Out 2.5s cubic-bezier(.97,.01,.64,1) forwards;
  }

  .transitionTitle {
    margin-bottom: 2rem;
  }

  .transitionText {
    line-height: 2;
  }

  .bottom {
    width: 100%;
    margin-top: 3rem;

    .material {
      align-items: center;
      margin-bottom: 1rem;

      .materialIcon {
        width: 52px;
        padding-right: 1rem;
        margin-right: 1rem;
        animation: opacityReveal 5s ease forwards;
      }
    }
  }
}

.smallLogo {
  opacity: .6;
}