@keyframes apparition {
  100% {
      opacity: 1;
      transform: none;
  }
}

@keyframes spanFadeIn {
  0% {
      transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-In {
  0% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes lateral-In {
  /* 1st */
  // 0% {
  //   width: 100%;
  //   transform: translate3d(0, 0, 0);
  // }
  // 100% {
  //   width: 40%;
  //   transform: translate3d(75%, 0, 0);
  // }
    /* 2nd */
  0% {
    // width: 40%;
    width: 60%;
    color: black;
    // transform: translate3d(-80%, 0, 0);
    transform: translate3d(-30%, 0, 0);
    z-index: 1000;
  }
  50% {
    width: 60%;
    transform: translate3d(50%, 0, 0);
  }
  100% {
    width: 40%;
    color: white;
    transform: translate3d(75%, 0, 0);
    z-index: -1;
  }
}

@keyframes lateral-Out {
  /* LATERAL TOWARDS LEFT */
  0% {
    width: 40%;
    color: white;
    transform: translate3d(75%, 0, 0);
    z-index: -1;
  }
  50% {
    width: 80%;
    transform: translate3d(50%, 0, 0);
  }
  100% {
    // width: 40%;
    width: 100%;
    color: black;
    // transform: translate3d(-80%, 0, 0);
    transform: translate3d(-120%, 0, 0);
    z-index: 1000;
  }
  /* DOWN TOWARDS TOP */
  // 0% {
  //   width: 100%;
  //   transform: translate3d(0, 0, 0);
  // }
  // 100% {
  //   width: 100%;
  //   transform: translate3d(0, -100%, 0);
  // }
}

@keyframes vertical-In {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes vertical-Out {
  0% {
    transform: translate3d(0, -120%, 0);
  }
  100% {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes opacityReveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}