.page-title {
  font-size: 9rem;
  text-transform: uppercase;
}

.extra-size {
  font-size: 5rem;
}

.big-size {
  font-size: 3rem;
}

.medium-size {
  font-size: 2rem;
}

.normal-size {
  font-size: 1rem;
}