.homepage-title {
  font-size: 11rem;
  font-weight: 100;
  text-transform: uppercase;
}

.page-title {
  font-size: 9rem;
}

.extra-size {
  font-size: 4rem;
}

.big-size {
  font-size: 3rem;
}

.medium-size {
  font-size: 2rem;
}

.normal-size {
  font-size: 1rem;
}

.small-size {
  font-size: .8rem;
}