.big-img {
  display: block;
  width: 550px;
  height: 400px;
  object-fit: cover;
}

.medium-img {
  display: block;
  width: 400px;
  object-fit: cover;
}

.small-img {
  display: block;
  width: 215px;
  object-fit: cover;
}

.background-cover {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 350px;
  position: relative;
  z-index: -1;
}

.portrait {
  display: block;
  width: 25vw;
  height: 30vw;
  object-fit: cover;
}

.small-icon {
  width: 30px;
}