@use 'src/styles/vars.scss';

.home {
  width: 100%;
  min-height: 100vh;
  margin-bottom: 5rem;
}

.service {
  width: 100vw;
  height: 100vh;
  margin-bottom: 2rem;

  &:nth-child(odd) {
    background-color: black;
    color: white;
  }

  .serviceDesc {
    width: 60%;
    text-align: center;
    line-height: 1.5;
    padding: 1rem 1.5rem;

  }
}