@use 'src/styles/vars.scss';

.home {
  width: 100%;
  min-height: 100vh;
}

.service {
  width: 25rem;
  height: 20rem;
  margin-bottom: 2rem;
  border: 1px solid black;

  .serviceDesc {
    text-align: center;
    line-height: 1.2;
    padding: 1rem 1.5rem;
  }
}