@use 'src/styles/vars.scss';

@media screen and (min-width: 700px) {
  .hexaLogo {
    width: 450px;
    height: auto;
    // opacity: .7;
    transition: opacity 150ms ease-in-out;
  }

  .header {
    position: relative;
    height: vars.$headerHeight;
    width: 100vw;
    // padding-bottom: 3rem;
  }

  .hero {
    height: 70%;
    z-index: -1;
  }

  .hero-mob {
    display: none;
  }

  .hero-title {
    > span:first-child {
      font-weight: 500;
    }
    > span {
      display: block;
      overflow: hidden;

      > span {
        display: block;
        animation: spanFadeIn 500ms ease forwards;
      }
    }
  }

  .hero-subtitle {
    letter-spacing: .5rem;
  }
}


@media screen and (max-width: 700px) {
  .hexaLogo {
    width: 250px;
  }
  .header {
    width: 100%;
    height: 80vh;

    .hero {
      display: none;
    }

    .hero-mob {
      width: 100%;
      height: 80%;
      z-index: -1;
      padding: 4rem 0 0;

      > .hexaLogo {
        display: block;
        margin: 0 auto;
      }
    }

    .hero-title-mob {
      width: 100%;

      &:first-child {
        font-weight: 300;

        > span {
          display: block;
          overflow: hidden;

          > span {
            display: block;
            animation: spanFadeIn .3s 500ms ease forwards;
          }
        }
      }
      &:last-child {
        text-align: right;

        > span {
          display: block;
          overflow: hidden;

          > span {
            display: block;
            animation: spanFadeIn .5s 600ms ease forwards;
          }
        }
      }
      // > span:first-child {
      //   display: block;
      //   overflow: hidden;
      //   > span {
      //     display: block;
      //     animation: spanFadeIn .5s 500ms ease forwards;
      //   }
      // }
      // > span:last-child {
      //   display: block;
      //   overflow: hidden;

      //   > span {
      //     display: block;
      //     animation: spanFadeIn .7s 800ms ease forwards;
      //   }
      // }
    }
  }
}