@use 'src/styles/vars.scss';

.hexaLogo {
  width: 450px;
  height: auto;
  // opacity: .7;
  transition: opacity 150ms ease-in-out;
}

.header {
  position: relative;
  height: vars.$headerHeight;
  width: 100%;
  // padding-bottom: 3rem;
}

.hero {
  height: 70%;
  z-index: -1;
}

.hero-title {
  > span {
    display: block;
    overflow: hidden;

    > span {
      display: block;
      animation: spanFadeIn 500ms ease forwards;
    }
  }
}

.hero-subtitle {
  letter-spacing: .5rem;
}