.navState {
  position: fixed;
  top: 0;
  // -webkit-box-shadow: inset 1px -1px 0px 0px #000000;
  // box-shadow: inset 1px -1px 0px 0px #000000;
}

.vertical-axis {
  left: 60%;
  width: 3px;
  // height: 100vh;
  border-left: 2px solid #ccc;
  background: white;
  transition: height 650ms ease;
  -webkit-transition: height 650ms ease;
}

.lateral-axis {
  left: 0;
  width: 100%;
  height: 2px;
  // background: rgba(90, 90, 90, 0.3);
  transform-origin: left;
  transition: transform 650ms ease;
  -webkit-transition: transform 650ms ease;
}
