.showcase {
  width: 100%;
  justify-content: space-between;

  .showcaseLeft, .showcaseRight, .showcaseCenter {
    width: 33%;
    height: 100%;
    justify-content: center;
  }

  .showcaseCenter {
    // justify-content: center;
    text-align: center;

    &-text {
      margin: 2rem 0;
    }

    // &-info {
    //   margin-bottom: 1rem;
    //   border-bottom: 2px solid black;
    // }

    &-title, &-info {
      line-height: 1.5;
    }
  }

  .showcaseLine {
    width: .5px;
    height: 35%;
    background: black;
  }

  .showcaseImg {
    display: block;
    width: 360px;
    height: 500px;
    margin-bottom: 3rem;
    mix-blend-mode: multiply;
    transition: transform 500ms ease, box-shadow 300ms ease;
  }

  .showcaseLink {
    padding-bottom: .2rem;
    border-bottom: 1px solid white;
    transition: all 200ms ease;

    &:hover {
      border-bottom: 1px solid black;
    }
  }
}

.showcaseProject > p {
  margin-bottom: 1rem;
}