@use 'src/styles/vars.scss';

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding-left: 10rem;
  background: black;
  opacity: 0;
  overflow-y: hidden;
  // transform: translateX(-100%);
  transition: opacity 300ms ease-in-out;
  // z-index: 1;
  z-index: -1;
}

.nav {
  width: 60%;
  height: 80%;
  justify-content: space-around;
  color: white;
  transition: opacity 300ms ease-in-out, width 300ms ease-in-out, height 300ms ease-in-out;
  // border: 1px solid white;

  .navLink {
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    transition: opacity 300ms ease-in-out !important;

    &:hover {
      opacity: 1 !important;
    }

    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        transform: translateY(-30px);
        animation: apparition .3s 1s + ($i / 7) ease forwards;
      }
    }
  }
}

.open {
  // transform: translateX(0);
  opacity: 1;
  z-index: 1;
}

.previewer {
  width: 40%;
  height: 80%;
  // border: 1px solid white;
}
.previewImg {
  width: 55%;
  object-fit: contain;
  opacity: 0;
  // transform: translateX(-100px);
  transition: opacity 400ms ease-in-out;
}

.revealed {
  opacity: .7;
  // transform: translateX(0);
}
